<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Typhoon Youtube Player</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ static_url('style.css') }}" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{{ static_url('reconnecting-websocket.js') }}"></script>
		<script src="{{ static_url('index.js') }}"></script>
	</head>
	<body onload="init()">
		<div class="container">
			<h1>Typhoon Youtube Player</h1>
			<hr />
			<div class="main">
				{% if error %}
				<div class="alert alert-danger">
					<p>{{ error }}</p>
				</div>
				{% end %}
				<form method="POST" class="form">
					<div class="row">
						<div class="col-md-10">
							<input type="text" class="form-control" name="url" placeholder="http://www.youtube.com/watch?v=********" />
						</div>
						<div class="col-md-2">
							<input type="submit" class="btn btn-default" value="submit" />
						</div>
					</div>
				</form>
				<div class="dislike button-row">
					<button class="btn btn-info btn-lg" onclick="dislike()">
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
					<span id="dislike"></span>
				</div>
				<div class="volume button-row">
					<button class="btn btn-info btn-lg" onclick="volumedown()">
						<span class="glyphicon glyphicon-volume-down"></span>
					</button>
					<button class="btn btn-info btn-lg" onclick="volumeup()">
						<span class="glyphicon glyphicon-volume-up"></span>
					</button>
					<span id="volume"></span>
				</div>
			</div>
			<hr />
			<div class="queue">
				<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>Title</th>
						<th>Duration</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
