<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Typhoon Youtube Player</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ static_url('style.css') }}" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//www.youtube.com/player_api"></script>
		<script src="{{ static_url('reconnecting-websocket.js') }}"></script>
		<script src="{{ static_url('monitor.js') }}"></script>
	</head>
	<body onload="init()">
		<div class="monitor row">
			<h1>Typhoon Youtube Player</h1>
			<hr />
			<div id="player" class="col-md-8">
			</div>
			<div class="col-md-4">
				<div class="dislike button-row">
					<button class="btn btn-info btn-lg" disabled="disabled">
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
					<span id="dislike"></span>
					<button class="btn btn-info btn-lg" disabled="disabled">
						<span class="glyphicon glyphicon-volume-up"></span>
					</button>
					<span id="volume"></span>
				</div>
				<div class="queue">
					<table class="table table-striped">
						<thead>
							<th>#</th>
							<th>Title</th>
							<th>Duration</th>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
